<div class="container" id="top_page">
<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
</section>  
  <div class="row">
    <div class="col-sm-6" id="top_text">
        <h2>instagram風アプリ</h2>
        <p>このサイトはruby on railsの練習に作成されました。</p>
        <p>アプリトップページです</p>
    </div>
    <div class="col-sm-6"><img src="<%= asset_path "sp.jpg" %>" width="80%"></div>
  </div>
</div>